body {
   font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
   background-color: #fafafa;
    margin:0;
 }

header {
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  background-color: white;
}

h1, h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}


.content {
  height: 100%;
}

.welcome-div {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'Clicker Script', 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.welcome-div-bottom {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-button{
  display: flex;
  background-color: cornflowerblue;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  outline: none;
}

.login-button-guest{
  display: flex;
  background-color: cornflowerblue;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  outline: none;
}

.login-sign-up-switch{
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.login-button-box{
  display: flex;
  justify-content: space-around;
}


.user-pane {
  display: flex;
  justify-content: center;
}


.button-holder {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-link{
  color: blue;
  text-decoration: none !important;
}

.signup-login-link{
  float: left;
  justify-content: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
}

.login-errors{
  padding: 0;
  list-style-type: none;
  margin-left: 12px;
  font-size: 12px;
  list-style: none;
  font-weight: bold;
  color: red;
}
input.login-input{
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.login-form-box {
      border-radius: 10px;
      border: 2px solid black;
      padding: 20px;
      opacity: .8;
      color: #262626;
      -webkit-box-flex: 1;
      -webkit-box-pack: center;
      background-color: aliceblue;
      font-family: 'Roboto','proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.filter {
  font-weight: bold;
}

.header-link {
  text-decoration: none;
  color: black;
}

#background-video{
z-index:-1;
display: flex;
top: 0;
padding: none;
position: fixed; // optional depending on what you want
}

/*post index*/


.post-index{
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding-top: 50px;
  flex-direction: column;
}

.post-index-ul{
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  padding: 0;
  align-self: center;
}

/*suggestion box*/

.suggestion-box{
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: 'Roboto','proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  width: 570px;
  align-self: center;
  border: 1px solid #efe9e9;
  border-radius: 5px;
}

.suggestion-box-label{
  display: inherit;
  background-color: inherit;
  color: grey;
  font-family: inherit;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.suggestion-index-ul{
  display: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-direction: column;
  max-height: 183px;
  overflow: auto;
}

.suggestion-show{
  display: flex;
  flex-direction: row;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  border-top: 1px solid #efe9e9;
}

.suggestion-user-photo-image{
  display: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.show-user-names{
  display: flex;
  flex-direction: column;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.suggestion-show-username{
  display: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.suggestion-user-fullname{
  display: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: 12px;
}

.suggestion-show-follow-button{
  display: flex;
  font-family: inherit;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}

.suggestion-follow-button{
  display: inherit;
  font-family: inherit;
  font-weight: bold;
  background-color: white;
  color: #3683ff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 20px;
  border-radius: 5px;
  border: 1px solid #3683ff;
  cursor: pointer;
  width: 50px;
}

/*post-index-item*/


.post-index-item{
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-bottom: 1px solid #efe9e9;
  border-radius: 4px;
  width: 570px;
}

.post-item-header{
  display: flex;
  justify-content: space-between;
  background: white;
  border-right: 1px solid #efe9e9;
  border-left: 1px solid #efe9e9;
  border-top: 1px solid #efe9e9;
  border-radius: 4px;
  width: 570px;
}

.post-profile-image{
  display: flex;
  height: 40px;
  width: 40px;
  border-radius:50%;
  padding: 10px;
  cursor: pointer;
}

.post-item-user-name{
  display: flex;
  margin-right: auto;
  padding-top: 20px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.post-item-date{
  display: flex;
  padding: 20px;
  color: grey;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
}


.post-item-caption-box{
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: white;
  border-right: 1px solid #efe9e9;
  border-left: 1px solid #efe9e9;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  width: 549px;
}

.post-item-caption-username{
  display: flex;
  padding-left: 2px;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

.post-item-caption-text{
  display: flex;
  font-family: inherit;
  font-size: inherit;
  padding-left: 8px;
}


.post-image{
  display: flex;
  height: auto;
  width: 570px;
  border: 1px solid #efe9e9
}

.post-likes-box{
  display: flex;
  border-left: 1px solid #efe9e9;
  border-right: 1px solid #efe9e9;
  background-color: white;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-top: 10px;
  padding-left: 12px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  width: 547px;
}

/*post-show-item*/

.post-show-item{
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.post-show-header{
  display: flex;
  justify-content: space-between;
  background: white;
  border-right: 1px solid #efe9e9;
  border-left: 1px solid #efe9e9;
  border-top: 1px solid #efe9e9;
}

.post-show-caption{
  display: flex;
  padding: 10px;
  background: white;
  border-right: 1px solid #efe9e9;
  border-left: 1px solid #efe9e9;
  border-bottom: 1px solid #efe9e9;
}

.post-show-image{
  display: flex;
  height: 400px;
  width: auto;
  border: 1px solid #efe9e9
}

.post-profile-show-image{
  display: flex;
  height: 40px;
  width: 40px;
  border-radius:50%;
  padding: 10px;
}


/*End of show*/

/*cCmments*/

.post-comments-index{
  display: flex;
  flex-direction: column;
  border-left: 1px solid #efe9e9;
  border-right: 1px solid #efe9e9;
  background-color: white;
  border-radius: 4px;
  padding: 0;
  list-style-type: none;
}

.comment{
  display: flex;
  padding: 2px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
}
.comment-username{
  display: flex;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
}
.comment-text{
  display: flex;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: inherit;
  font-size: inherit;
}

.comment-x{
  display: none;
}

.comment:hover .comment-x{
  display: flex;
  margin-left: auto;
  padding-right: 10px;
  color: grey;
  cursor: pointer;
}

.comment-form-container{
    display: flex;
    padding: 10px;
    background-color: white;
}

.comment-text-input{
  display: flex;
  border: none;
  padding: 10px;
  font-size: 14px;
  width: 450px;
}


.likes-text{
  font-weight: bold;
}

.likes-symbol{
  display: flex;
  height: 40px;
  width: auto;
  padding: 10px;
  cursor: pointer;
}
.comment-like-box{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-top: 20px;
  width: 570px;
}




/*NAVBAR*/

.navbar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-logo{
  display: flex;
  cursor: pointer;
  margin-left: 140px;
}

.navbar-logo-image{
  display: flex;
  height: 60px;
  width: auto;
  padding: 2px;
  cursor: pointer;
}

.navbar-text-line{
  font-size: 44px;
  font-weight: 1;
  font-family: 'Lato', sans-serif;
}

.navbar-text{
  display: flex;
  font-family: 'Clicker Script', 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
}

.navbar-photo-upload{
  display: flex;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-left: 230px;
}

.navbar-upload-image{
  height: 40px;
  width: auto;
}

.navbar-user-photo{
  display: flex;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-left: 50px;
}

.navbar-user-photo-image{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.navbar-user-name{
  display: flex;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.navbar-logout-button{
  display: flex;
  height: 40px;
  width: auto;
  cursor: pointer;
  margin-left: 50px;
}

.navbar-search-container{
  display: flex;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  margin-left: 230px;
  margin-bottom: 25px;
  width: 170px;
}

.search-dropdown-li{
  z-index:99;
  background-color: white;
  border-top: 1px solid grey;
  list-style: none;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-box{
  z-index:99;
  position:absolute;
  background-color: white;
  border: 1px solid #efe9e9;
  border-radius: 4px;
  list-style: none;
  max-height: 300px;
  border-radius: 3px;
  overflow: scroll;
}

.search-drop-transition{
  background-color: white;
  list-style: none;
}

.search-ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
  margin-left: 4px;
  margin-right: 4px;
}

.search-input{
  border: none;
  width: 170px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  margin-left: 4px;
  margin-right: 4px;
  padding-bottom: 10px;
  outline: none;
}

/*UPLOAD FORM*/

.upload-form-container{
  display: flex;
  justify-content: center;
}

.upload-form-box{
  display: flex;
  flex-direction: column;
}

.upload-form-welcome{
  display: flex;
  padding: 10px;
  justify-content: center;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 22px;
}

.upload-form{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.upload-caption-input{
  display: flex;
  width: 300px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}


.upload-caption-box{
  display: flex;
  flex-direction: row;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.upload-image-button{
  display: flex;
  background-color: cornflowerblue;
  color: white;
  font-size: 13px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

.upload-form-image-box{
  display: flex;
  border: 1px solid grey;
  border-radius: 10px;
  height: 370px;
  width: 370px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.upload-form-image{
  display: flex;
  border-radius: 10px;
  border: none;
  height: 370px;
  width: 370px;
}

.upload-form-button-box{
  display: flex;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.upload-form-button{
  display: flex;
  background-color: cornflowerblue;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 5px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  outline: none;
}


/*User show page*/

.user-show{
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.user-show-header{
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-left: 280px;
  margin-top: 50px;
}

.user-show-photo-image{
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid grey;
  margin-right: 100px;
}

.user-show-user-info{
  display: flex;
  flex-direction: column;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  width: 600px
}

.user-show-namebutton{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.user-show-username{
  display: inherit;
  font-family: inherit;
  font-size: 34px;
  margin-right: 40px;
}

.user-show-follow-button{
  display: flex;
  font-family: inherit;
  justify-content: center;
  align-items: center;
}

.follow-button{
  display: inherit;
  font-family: inherit;
  letter-spacing: 1px;
  background-color: white;
  color: #3683ff;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid #3683ff;
  cursor: pointer;
}

.unfollow-button{
  display: inherit;
  font-family: inherit;
  letter-spacing: 1px;
  background-color: green;
  color: white;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.update-profile-button{
  display: inherit;
  font-family: inherit;
  letter-spacing: 1px;
  background-color: white;
  color: green;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid green;
  cursor: pointer;
}

.user-show-fullname{
  display: inherit;
  font-family: inherit;
  font-weight: bold;
  margin-bottom: 6px;
}


.user-show-relationships{
  display: flex;
  flex-direction: row;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  margin-bottom: 20px;
}

.user-show-posts-count{
  display: inherit;
  font-family: inherit;
  margin-right: 5px;
}

.user-show-followers-count{
  display: inherit;
  font-family: inherit;
  margin-right: 5px;
}

.rel-words{
  display: inherit;
  font-family: inherit;
  margin-left: 4px;
  margin-right: 20px;
  margin-top: 1px;
}

.user-show-profile-text{
  display: inherit;
  font-family: inherit;
}
.about-me{
  display: inherit;
  font-family: inherit;
  font-weight: bold;
  padding-right: 4px;
}

.profile-text{
  display: inherit;
  font-family: inherit;
  margin-top: 2px;
}


.user-show-following-count{
  display: inherit;
  font-family: inherit;
}
.masonry-container{
  display: flex;
  align-self: center;
}

.user-post-image{
  display: flex;
  height: 300px;
  width: 300px;
  padding: 20px;
}

/*user profile update*/

.user-update-form-container{
  display: flex;
  justify-content: center;
}

.user-update-form-box{
  display: flex;
  flex-direction: column;
}

.user-update-form-welcome{
  display: flex;
  padding: 10px;
  justify-content: center;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 22px;
}

.user-update-form{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.user-update-image-button{
  display: flex;
  background-color: cornflowerblue;
  color: white;
  font-size: 13px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

.user-update-form-image-box{
  display: flex;
  border: 1px solid grey;
  border-radius: 10px;
  height: 370px;
  width: 370px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-update-form-image{
  display: flex;
  border-radius: 10px;
  border: none;
  height: 370px;
  width: 370px;
}

.user-update-fullname-box{
  display: flex;
  flex-direction: row;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.user-update-fullname-input{
  display: flex;
  width: 300px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.user-update-profile-text-box{
  display: flex;
  flex-direction: row;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.user-update-profile-text-input{
  display: flex;
  width: 300px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.user-update-form-button-box{
  display: flex;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.user-update-form-button{
  display: flex;
  background-color: cornflowerblue;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 5px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  outline: none;
}
