 body {
   font-family: 'Abel', sans-serif;
 }

.content {
  height: 100%;
}

.welcome-div {
  display: flex;
  justify-content: center;
  font-size: 20px
}

.welcome-div-bottom {
  margin-left: 10px;
  margin-top: 10px;
}

.login-buttons-demo-button{
  display: flex;
}

.login-button-box{
  display: flex;
  justify-content: space-around;
}


.user-pane {
  display: flex;
  justify-content: center;
}

.right-half {
  width: 400px;
  margin-left: 50px;
  margin-top: 40px;
  height: 480px;
  overflow-y: scroll;
  padding: 0 20px 20px 20px;
}

.right-half.bench-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}


header {
  margin-left: 5%;
}

h1, h5 {
  margin-bottom: 0px;
}




.button-holder {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-link{
  color: blue;
}

.signup-login-link{
  float: left;
  justify-content: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
}

.login-form-box {
      border-radius: 10px;
      border: 2px solid black;
      padding: 20px;
      opacity: .8;
      color: #262626;
      -webkit-box-flex: 1;
      -webkit-box-pack: center;
      font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
      background-color: aliceblue;
}

.filter {
  font-weight: bold;
}

.header-link {
  text-decoration: none;
  color: black;
}

#background-video{
z-index:-1;
/*background-position:center;
float: left;*/
display: flex;
justify-content: center;
height: 100%;
width: 100%;
top: 0;
padding: none;
position: fixed; // optional depending on what you want

}
