body {
   font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
 }

header {
  margin-left: 5%;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

h1, h5 {
  margin-bottom: 0px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}


.content {
  height: 100%;
}

.welcome-div {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'Clicker Script', 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.welcome-div-bottom {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-button{
  display: flex;
  background-color: cornflowerblue;
  color: white;
  font-size: 13px;
  border-radius: 5px;
}

.login-button-guest{
  display: flex;
  background-color: cornflowerblue;
  color: white;
  font-size: 13px;
  border-radius: 5px;
}

.login-sign-up-switch{
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.login-button-box{
  display: flex;
  justify-content: space-around;
}


.user-pane {
  display: flex;
  justify-content: center;
}


.button-holder {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-link{
  color: blue;
  text-decoration: none !important;
}

.signup-login-link{
  float: left;
  justify-content: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
}

.login-errors{
  padding: 0;
  list-style-type: none;
  margin-left: 12px;
  font-size: 12px;
  list-style: none;
  font-weight: bold;
  color: red;
}
input.login-input{
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.login-form-box {
      border-radius: 10px;
      border: 2px solid black;
      padding: 20px;
      opacity: .8;
      color: #262626;
      -webkit-box-flex: 1;
      -webkit-box-pack: center;
      background-color: aliceblue;
      font-family: 'Roboto','proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.filter {
  font-weight: bold;
}

.header-link {
  text-decoration: none;
  color: black;
}

#background-video{
z-index:-1;
display: flex;
top: 0;
padding: none;
position: fixed; // optional depending on what you want
}

/*post index*/

.post-index{
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

.post-index-ul{
  display: flex;
  flex-direction: column-reverse;
}

/*post-index-item*/


.post-index-item{
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-bottom: 1px solid #efe9e9;
  border-radius: 4px;
}

.post-item-header{
  display: flex;
  justify-content: space-between;
  background: white;
  border-right: 1px solid #efe9e9;
  border-left: 1px solid #efe9e9;
  border-top: 1px solid #efe9e9;
  border-radius: 4px;
}

.post-profile-image{
  display: flex;
  height: 40px;
  width: 40px;
  border-radius:50%;
  padding: 10px;
}

.post-item-user-name{
  display: flex;
  margin-right: auto;
  padding-top: 20px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.post-item-date{
  display: flex;
  padding: 20px;
  color: grey;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
}


.post-item-caption-box{
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: white;
  border-right: 1px solid #efe9e9;
  border-left: 1px solid #efe9e9;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
}

.post-item-caption-username{
  display: flex;
  padding-left: 2px;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

.post-item-caption-text{
  display: flex;
  font-family: inherit;
  font-size: inherit;
  padding-left: 8px;
}


.post-image{
  display: flex;
  height: auto;
  width: 570px;
  border: 1px solid #efe9e9
}

.post-likes-box{
  display: flex;
  border-left: 1px solid #efe9e9;
  border-right: 1px solid #efe9e9;
  background-color: white;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-top: 10px;
  padding-left: 12px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
}

/*post-show-item*/

.post-show-item{
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.post-show-header{
  display: flex;
  justify-content: space-between;
  background: white;
  border-right: 1px solid #efe9e9;
  border-left: 1px solid #efe9e9;
  border-top: 1px solid #efe9e9;
}

.post-show-caption{
  display: flex;
  padding: 10px;
  background: white;
  border-right: 1px solid #efe9e9;
  border-left: 1px solid #efe9e9;
  border-bottom: 1px solid #efe9e9;
}

.post-show-image{
  display: flex;
  height: 400px;
  width: auto;
  border: 1px solid #efe9e9
}

.post-profile-show-image{
  display: flex;
  height: 40px;
  width: 40px;
  border-radius:50%;
  padding: 10px;
}


/*End of show*/

/*cCmments*/

.post-comments-index{
  display: flex;
  flex-direction: column;
  border-left: 1px solid #efe9e9;
  border-right: 1px solid #efe9e9;
  background-color: white;
  border-radius: 4px;
  padding: 0;
  list-style-type: none;
}

.comment{
  display: flex;
  padding: 2px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
}
.comment-username{
  display: flex;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
}
.comment-text{
  display: flex;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: inherit;
  font-size: inherit;
}

.comment-x{
  display: none;
}

.comment:hover .comment-x{
  display: flex;
  margin-left: auto;
  padding-right: 10px;
  color: grey;
  cursor: pointer;
}

.comment-form-container{
    display: flex;
    padding: 10px;
    background-color: white;
}

.comment-text-input{
  display: flex;
  border: none;
  padding: 10px;
  font-size: 14px;
  width: 450px;
}


.likes-text{
  font-weight: bold;
}

.likes-symbol{
  display: flex;
  height: 40px;
  width: auto;
  padding: 10px;
  cursor: pointer;
}
.comment-like-box{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-top: 20px;
}




/*NAVBAR*/

.navbar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-logo{
  display: flex;
  cursor: pointer;
  margin-left: 140px;
}

.navbar-logo-image{
  display: flex;
  height: 60px;
  width: auto;
  padding: 2px;
  cursor: pointer;
}

.navbar-text-line{
  font-size: 44px;
  font-weight: 1;
  font-family: 'Lato', sans-serif;
}

.navbar-text{
  display: flex;
  font-family: 'Clicker Script', 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
}

.navbar-search-container{
  display: flex;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  margin-left: 235px;
}

.navbar-photo-upload{
  display: flex;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-left: 230px;
}

.navbar-upload-image{
  height: 40px;
  width: auto;
}

.navbar-user-photo{
  display: flex;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-left: 50px;
}

.navbar-user-photo-image{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.navbar-user-name{
  display: flex;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.navbar-logout-button{
  display: flex;
  height: 40px;
  width: auto;
  cursor: pointer;
  margin-left: 50px;
}

/*UPLOAD FORM*/

.upload-form-container{
  display: flex;
  justify-content: center;
}

.upload-form-box{
  display: flex;
  flex-direction: column;
}

.upload-form-welcome{
  display: flex;
  padding: 10px;
  justify-content: center;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 22px;

}

.upload-form{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.upload-caption-input{
  display: flex;
  width: 300px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}


.upload-caption-box{
  display: flex;
  flex-direction: row;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.upload-image-button{
  display: flex;
  background-color: cornflowerblue;
  color: white;
  font-size: 13px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  border-radius: 5px;
  padding: 5px;
}

.upload-form-image-box{
  display: flex;
  border: 1px solid grey;
  border-radius: 10px;
  height: 370px;
  width: 370px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.upload-form-image{
  display: flex;
  border-radius: 10px;
  border: none;
  height: 370px;
  width: 370px;
}

.upload-form-button-box{
  display: flex;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.upload-form-button{
  display: flex;
  background-color: cornflowerblue;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 5px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}
